*.json
extra_ipynb
responses_run.pkl
noise_cor_data
MI_data
*.zip
*.pdf
*.out
*~
*.png
*.srun
*.csv
*.pyc
*.sh.*
*.sh
*.jpeg
*.jpg
parameters/
logs/
runfiles/
filters/
images/
inference/
model_files/*
*#*
.ipynb_checkpoints/